// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f1f1f1 !important;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-laravel {
  background-color: #fff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: $foxi !important;
}

.logout-link {
  padding-top: 6px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $foxi !important;
}

.foxcolor {
  background-color: $foxi;
  color: white !important;
}

.navbar {
  padding: 0rem 1rem !important;
  padding-right: 0rem !important;
}

.max-height-nav {
  height: 60px;
}

.clearfisx {
  width: 100%;
  height: 10px;
  background-color: black;
}

.foxcolor-pure {
  color: $foxi;
}

.foxcolor-bg {
  background-color: $foxi;
}

.bold {
  font-weight: bold;
}
.undecorated {
  text-decoration: none !important;
}
.foxcolor-inverted {
  color: $foxi;
  background-color: rgb(255, 255, 255);
}

.myCont {
  padding: 10px;
}

.menuText {
  color: white;
  font-weight: bold;
  min-height: 66px;
}

div.menuText:hover > li > a > li > div.menuText {
  color: $foxi !important;
}

div.menuText:hover {
  color: $foxi !important;
  background-color: white;
  font-weight: bold;
}

.logo {
  background-color: white;
}

.alert-chat {
  background-color: rgb(226, 226, 226);
}

ul {
  list-style-type: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.img-logo {
  max-height: 50px;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid $foxi;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20000;
  cursor: pointer;
}

.textColor {
  color: $text;
}
.textCenter {
  text-align: center;
}
.textFox {
  color: $foxi;
}

//Login
.panel h2 {
  padding-top: 30px;
  color: #444444;
  font-size: 40px;
  text-align: center;
}
.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}
.login-form .form-control {
  border: 1px solid #f86a2d;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
}
.login-form {
  text-align: center;
}
.login-form .btn.btn-primary {
  background: #f86a2d;
  border-color: #f86a2d;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0px;
}
.description {
  color: #777777;
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
}

.cardIcon {
  float: right;
}
.left {
  float: left;
}